/* Color variables */
$color-primary: #0a33b9;
$color-secondary: #a6902a;

$color-grey-0: #181818;
$color-grey-1: #222222;
$color-grey-2: #363636;
$color-grey-3: #666666;
$color-grey-4: #888888;
$color-grey-5: #aaaaaa;
$color-grey-6: #cccccc;
$color-grey-7: #eeeeee;

$color-grey-100: #181818;
$color-grey-200: #333333;
$color-grey-300: #555555;
$color-grey-400: #777777;
$color-grey-500: #999999;
$color-grey-600: #aaaaaa;
$color-grey-700: #cccccc;
$color-grey-800: #dddddd;
$color-grey-900: #eeeeee;

/* Viewpoint variables */
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* Post list variables */
$post-list-gap: 24px;
$post-list-column-xl: 3;
$post-list-column-lg: 3;
$post-list-column-md: 2;
$post-list-column-sm: 1;
$post-list-column-xs: 1;

/* Height variables */
$header-height: 96px;
$footer-height: 64px;

/* Transition */
$fade-default: all 0.15s ease;
$fade-delayed: all 0.5s ease;
$fade-post: all 0.5s cubic-bezier(0.11, 0.66, 0.32, 0.97);

:export {
  breakpointXl: $breakpoint-xl;
  breakpointLg: $breakpoint-lg;
  breakpointMd: $breakpoint-md;
  breakpointSm: $breakpoint-sm;
}
