/* Color Variables */
$light-color-0: #ffffff;
$light-color-1: #eeeeee;
$light-color-2: #dddddd;
$light-color-3: #cccccc;
$dark-color-0: #000000;
$dark-color-1: #222222;
$dark-color-2: #444444;
$dark-color-3: #666666;

/* Viewpoint Variables */
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* Post Preview Variables */
$post-preview-width-xl: 275px;
$post-preview-width-lg: 300px;
$post-preview-width-md: 345px;

/* Header Variables */
$header-menu-height: 120px;
