/* Color Variables */
$sckroll-primary: #2a7dd6;
$sckroll-grey-1: #222222;
$sckroll-grey-2: #555555;
$sckroll-grey-3: #888888;
$sckroll-grey-4: #aaaaaa;
$sckroll-grey-5: #cccccc;
$sckroll-grey-6: #eeeeee;

/* Viewpoint Variables */
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* Post Preview Variables */
$preview-gap: 16px;
$preview-column-xl: 4;
$preview-column-lg: 4;
$preview-column-md: 3;
$preview-column-sm: 2;
$preview-column-xs: 1;

/* Header Variables */
$header-height: 96px;

/* Transition */
$fade-default: all 0.15s ease;
$fade-post: all 0.5s cubic-bezier(0.11, 0.66, 0.32, 0.97);

:export {
  breakpointXl: $breakpoint-xl;
  breakpointLg: $breakpoint-lg;
  breakpointMd: $breakpoint-md;
  breakpointSm: $breakpoint-sm;
}
