$hash-link-margin-top: $header-height + 32px;

.nuxt-content {
  h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin: 48px 0 16px;

    &:first-child {
      margin-top: 0;
    }
    &::before {
      content: '';
      display: block;
      height: $hash-link-margin-top;
      margin-top: -#{$hash-link-margin-top};
      visibility: hidden;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 1.25em;
    margin: 32px 0 8px;

    &::before {
      content: '';
      display: block;
      height: $hash-link-margin-top;
      margin-top: -#{$hash-link-margin-top};
      visibility: hidden;
    }
  }
  p,
  ol,
  ul {
    line-height: 170%;

    code {
      padding: 2px;
      background-color: $sckroll-grey-6;
    }
    img {
      display: block;
      margin: 32px auto;
      box-shadow: 0 1px 2px 1px rgba(black, 0.2);
      max-width: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  pre {
    code {
      padding: 0;
      background-color: transparent;
    }
  }
  blockquote {
    border-left: 8px solid $sckroll-primary;
    background-color: $sckroll-grey-6;
    margin: 16px 0;
    padding: 16px 32px;
  }
  a {
    border-bottom: 2px solid $sckroll-grey-4;
    transition: $fade-default;

    &:hover {
      border-bottom: 2px solid $sckroll-primary;
      transition: $fade-default;
    }
    &:active {
      color: $sckroll-primary;
      transition: $fade-default;
    }
  }
  table {
    img {
      width: 100%;
    }
  }
  .nuxt-content-highlight {
    background-color: $sckroll-grey-2;
    margin: 32px 0;

    .filename {
      display: block;
      font-size: 0.8em;
      color: white;
      padding: 8px 16px;
    }
    .language-js,
    .language-python,
    .language-html,
    .language-css,
    .language-scss {
      margin: 0;
    }
  }
}
