html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
::selection {
  background-color: $color-primary;
  color: white;
}
::-moz-selection {
  background-color: $color-primary;
  color: white;
}

body {
  background-color: $color-grey-200;
  color: black;
  transition: $fade-default;
}
a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
  padding-bottom: 2px;
  border-bottom: 2px solid $color-grey-400;
  transition: $fade-default;

  &:hover {
    border-bottom: 2px solid $color-primary;
    transition: $fade-default;
  }
  &:active {
    color: $color-primary;
    transition: $fade-default;
  }
}
svg {
  transition: all 0.15s;
}

.scroll-disabled {
  height: 100%;
  overflow-y: hidden;
  touch-action: none;
}

.dark-mode  {
  body {
    background-color: $color-grey-900;
    color: white;
  }
  a {
    &:hover {
      border-bottom: 2px solid $color-secondary;
    }
    &:active {
      color: $color-secondary;
    }
  }
  ::selection {
    background-color: $color-secondary;
    color: black;
  }
  ::-moz-selection {
    background-color: $color-secondary;
    color: black;
  }
  svg {
    fill: white;
  }
}

.fade-enter-active,
.fade-leave-active,
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: $fade-default;
}
.fade-enter,
.fade-leave-to,
.fade-delayed-enter,
.fade-delayed-leave-to {
  opacity: 0;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(8px);
  opacity: 0;
}
