@import './variables';
@import './mixin';
@import './content';

:root[color-mode="light"] {
  --color-background: #{$color-light-background};
  --color-text: #{$color-light-text};
  --color-header: #{$color-light-header};
  --color-footer: #{$color-light-footer};
  --color-search: #{$color-light-search};
  --color-post: #{$color-light-post};
  --color-post-info: #{$color-light-info};
  --color-enabled: #{$color-light-enabled};
  --color-disabled: #{$color-light-disabled};
}
:root[color-mode="dark"] {
  --color-background: #{$color-dark-background};
  --color-text: #{$color-dark-text};
  --color-header: #{$color-dark-header};
  --color-footer: #{$color-dark-footer};
  --color-search: #{$color-dark-search};
  --color-post: #{$color-dark-post};
  --color-post-info: #{$color-dark-info};
  --color-enabled: #{$color-dark-enabled};
  --color-disabled: #{$color-dark-disabled};
}


html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: $fade-default;
}
h1, h2, h3, h4 {
  font-family: 'NanumSquare', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

.fade-enter-active,
.fade-leave-active,
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: $fade-default;
}
.fade-delayed-enter-active,
.fade-delayed-leave-active {
  transition: $fade-delayed;
}
.fade-enter,
.fade-leave-to,
.fade-delayed-enter,
.fade-delayed-leave-to {
  opacity: 0;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(8px);
  opacity: 0;
}
